<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
  <body class="mb-5">
    <div class="container">
      {% include navbar.html %}
      <main class="">
        <div class="">
          {{ content }}
        </div>
      </main>
    </div>
    <script type="text/javascript" src="assets/javascripts/shp.js" charset="utf-8"></script>
    <script type="text/javascript" src="assets/javascripts/index.js" charset="utf-8"></script>
  </body>

</html>
